.container-fluid {
  text-align: center;
}

h1 {
  background-color: #f76961;
  text-align: center;
  height: 110px;
  padding: 30px;
  margin: 0px;
}

.getting-started {
  background-color: #def2ef;
}

img {
  max-width: 100%;
  overflow: none;
}

#ruby {
  display: none;
}

#php {
  display: none;
}

#c-sharp {
  display: none;
}

#java{
  display: none;
}

#rethink{
  display: none;
  font-weight: bold;
  font-size: 30px;
}
